html{
    height:100%;
}
body{
    background-color: #fad2e3;
    color: #131629;
}
div.container{
    position: absolute;
    margin: 10px;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    width:90%;
    height:90% ;
    font-size: 50px;
}
div.sayLove{
    font-size: 50px;
}

div.sayLoveEn{
    font-size: large;
}


/* Adding CSS manually is only necessary in JSFiddle,
   where CSS can't be inserted into the <head> */
   .typed-cursor{
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
  }
  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  }
  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  }
  .typed-fade-out{
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
  }